doctype html

html.
	<head>
		<title>#CapitalOne</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/capitalone.css">
		<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="../javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="../javascripts/capitalone.js"></script>
	</head>
	<body>

		<div class="title-wrapper"><img class="title" src="../images/title.png"></img></div>

		<div class="photo-container"></div>

		<button type="button" class="load-more btn btn-default">View Older Posts</button>
		<button type="button" class="text-view btn btn-default">View Table</button>
		<button type="button" class="about btn btn-default">About</button>

		<div class="photo photo-clone" style="display:none;">
			<img class="image">
			<span class="hover-sentiment badge"></span></a>
			<div class="hover-info">
				<!-- <img data-toggle="tooltip" title="Tooltip on top"class="user-image"></img> -->
				<img class="user-image"></img>
				<a class="user-link" href="", target="_blank"><div class="username"></div></a>
				<div class="date"></div>
				<div class="likes-wrapper">
					<i class="likes-image fa-heart fa fw"></i>
					<div class="likes-num"></div>
				</div>
				<div class="caption"></div>
				<div class="user-info"></div>
			</div>	
		</div>

	</body>
