doctype html

html.
	<head>
		<title>#CapitalOne</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/test.css">
		<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="../javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="../javascripts/test.js"></script>
	</head>
	<body>

		<div class="title-wrapper"><img class="title" src="../images/title.png"></img></div>

		<table class="info-table table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>User Posts</th>
					<th>Followers</th>
					<th>Following</th>
					<th>Post Link</th>
					<th>Post Date</th>
					<th>Post Likes</th>
					<th>Positive Words</th>
					<th>Negative Words</th>
					<th>Sentiment</th>
				</tr>
			</thead>
			<tbody class="info-table-body">
				<tr class="row-clone row" style="display: none;">
					<th><a class="username" href="", target="_blank"></a></th>
					<th class="user-posts"></th>
					<th class="followers"></th>
					<th class="following"></th>
					<th class="post-link"></th>
					<th class="post-date"></th>
					<th class="post-likes"></th>
					<th class="positive"></th>
					<th class="negative"></th>
					<th class="sentiment"></th>
				</tr>
			</tbody>
		</table>

		<div class="sentiment-overview"></div>

		<button type="button" class="load-more btn btn-default">View Older Posts</button>
		<button type="button" class="text-view btn btn-default">View Pictures</button>
		<button type="button" class="about btn btn-default">About</button>

	</body>
